<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.adhash.sdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

<!--    <application>-->

<!--        <uses-library-->
<!--            android:name="com.google.code.gson:gson"-->
<!--            android:required="true" />-->

<!--        <uses-library-->
<!--            android:name="com.squareup.retrofit2:retrofit"-->
<!--            android:required="true" />-->

<!--        <uses-library-->
<!--            android:name="com.squareup.retrofit2:converter-gson"-->
<!--            android:required="true" />-->

<!--        <uses-library-->
<!--            android:name="com.squareup.retrofit2:converter-scalars"-->
<!--            android:required="true" />-->

<!--        <uses-library-->
<!--            android:name="io.coil-kt:coil"-->
<!--            android:required="true" />-->
<!--    </application>-->

</manifest>
